/* Start algemeen */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--achtergrond);
  color: var(--tekst);
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 1em;
}

h3 {
  margin: 1em;
}

.instellingen {
  display: flex;
  justify-content: flex-end;
}

#themaschakelaar {
  padding: 0.5em;
  font-size: 1rem;
  background-color: var(--knoppen);
}

button, input, select {
    border-radius: 0.5em;
}

/* Einde algemeen */

/* Start hoofding */

.zoekbalk {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#zoek-input {
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--knoppen);
}

input::placeholder{
  color: rgb(0, 0, 0);
}

#filter-select, #zoekknop {
  padding: 1em;
  font-size: 1rem;
  background-color: var(--knoppen);
}

#type-filter {
  background-color: var(--knoppen);
}

/* Einde hoofding */

/* Start lijst Pokémon */

.pokemon-kaart {
  background-color: var(--kaart-achtergrond);
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 1em;
}

.favo {
  background-color: var(--kaart-achtergrond);
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 1em;
}

.pokemon-kaart .pokemon-kaartinfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pokemon-kaart img {
  width: 80px;
  height: 80px;
}

.pokemon-kaart button {
  background-color: var(--kaartbutton-kleur);
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.pokemon-kaart button:hover {
  background-color: #ff9e2fc4;
}

.favorietenknop {
  font-size: 1.3em;
  border-radius: 0.2em;
}

div>img {
  margin-right: 0em;
  margin-left: 1.6em;
}

/* Einde lijst Pokémon */

/* Begin thema switch */

[data-theme="licht"] {
  --achtergrond: #b35757;
  --tekst: #333;
  --kaart-achtergrond: #ffffffa9;
  --knoppen: #ffffffa9;
  --kaartbutton-kleur: #ffd737;
}


[data-theme="donker"] {
  --achtergrond: #000000;
  --kaart-achtergrond: #5249494b;
  --tekst: rgb(55, 55, 73);
  --knoppen: rgba(108, 108, 108, 0.647);
  --kaartbutton-kleur: #ffd7377c;
}

/* Einde thema switch */