* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b35757;
  color: #333;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.zoekbalk {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#zoek-input {
  width: 60%;
  padding: 10px;
  font-size: 1rem;
}

#filter-select, #zoekknop {
  padding: 10px;
  font-size: 1rem;
}

.pokemon-lijst {
  list-style: none;
  display: grid;
  justify-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
